<% include ../layouts/header.ejs %>
<div class="row">
	<% if(products.length > 0){%>
	<% products.forEach((product)=>{ %>
	<div class="col-md-4">
		<div class="mb-4 shadow-sm text-center">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal text-muted"><%= product.title %></h4>
			</div>
			<div class="card-body">
				<h3 class="card-title pricing-card-title text-danger">$<%= parseFloat(product.price).toFixed(2) %></h3>
				<img src="/product_images/<%= product._id %>/<%= product.image %>" alt="product_images" class="image_product">
				<a href="/cmscart/products/<%= product.category %>/<%= product.slug %>" style="text-decoration: none;">
					<button type="button" class="btn btn-lg btn-block btn-outline-primary">View Details</button>
				</a>
			</div>
		</div>
	</div>
	<% }) %>
	<% }else{%>
	<h4 class="text-danger text-center">No result found.</h4>
	<% } %>
</div>
<% include ../layouts/footer.ejs %>